* {
    padding: 0;
    margin: 0;
}

.clear {
    clear: both;
}

.nav_ {
    width: 100%;
    height: 100px;
    background-color: rgb(240, 240, 240);
}

.nav_>span {
    display: block;
    width: 60px;
    border-left: 5px solid red;
    font-size: 20px;
    float: left;
    margin-left: 252px;
    margin-top: 20px;
    padding-left: 10px;
}

.nav_>ul>li {
    margin-top: 20px;
    list-style: none;
    float: left;
    margin-left: 60px;
    margin-right: 60px;
    text-align: center;
}

.nav_>ul>li>p {
    margin-top: 10px;
}

.nav_>ul>li:nth-child(1)>p {
    border-bottom: 3px solid red;
}

.main_bot {
    width: 68%;
    height: 2000px;
    margin: 0 auto;
}


/* 左边 */

.main_bot_left {
    width: 65%;
    float: left;
}

.main_bot_left>.jieshao,
.main_bot_right>.jieshao {
    border-left: 5px solid red;
    font-size: 20px;
    padding-left: 10px;
    margin-top: 20px;
    margin-left: 10px;
}

.main_bot_left>p {
    font-size: 14px;
}

.main_bot_left>p>span {
    color: rgb(9, 90, 171);
    font-weight: 550;
}

.main_bot_left p:nth-child(2) {
    color: red;
    font-size: 16px;
    font-weight: 700;
}

.main_bot_left>.liucheng {
    color: red;
    font-weight: 550;
    font-size: 20px;
}


/* //右半边的 */

.main_bot_right {
    width: 27%;
    height: 2000px;
    margin-left: 10px;
    float: left;
}

.main_bot_right>.jiage {
    color: rgb(254, 83, 65);
    font-size: 40px;
    font-weight: 700;
    margin-left: 25px;
}

.dianjigoumai {
    width: 100%;
    height: 50px;
    text-align: center;
    background-color: rgb(254, 83, 65);
    color: white;
    font-size: 18px;
    border: 0;
    border-radius: 5px;
}

.main_bot_right>p:nth-child(4) {
    width: 100%;
    font-size: 12px;
    color: #ccc;
    text-align: center;
    margin-top: 10px;
}

.main_bot_right>.qianse {
    font-size: 12px;
    color: #ccc;
}


/* 渲染的css */

.bottom_ {
    width: 1068px;
    margin: 0 auto;
}

.bottom_>ul>li {
    float: left;
    list-style: none;
    margin-left: 20px;
    margin-top: 20px;
}

.bottom_>ul>li>div>img {
    width: 100%;
    height: 144.39px;
    border-radius: 5px;
}

.bottom_>ul>li>div {
    text-align: center;
    width: 247px;
    height: 318px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.bottom_>ul>li>div>p:nth-child(2) {
    display: block;
    width: 245px;
    height: 56px;
    /* white-space: nowrap; */
    overflow: hidden;
    color: black;
    font-weight: 700;
    font-size: 20px;
}

.bottom_>ul>li>div>span {
    display: inline-block;
    width: 60px;
    height: 20px;
    border: 1px solid rgb(170, 217, 154);
    border-radius: 5px;
    color: rgb(170, 217, 154);
    margin-left: 20px;
}

.bottom_>ul>li>div>p:nth-child(5) {
    font-size: 16px;
    margin-top: 20px;
}

.bottom_>ul>li>div>p>span {
    color: red;
}

.bottom_>ul>li>div>p:nth-child(6) {
    color: #ccc;
}


/* 热门试用 */

.bottom_nav {
    width: 100%;
    height: 50px;
}

.bottom_nav>p {
    font-size: 25px;
    color: rgb(72, 72, 69);
    font-weight: 600;
}

.bottom_>ul>li:nth-child(1) {
    margin-left: 0;
    padding: 0;
}


/* 头部 */

body {
    overflow-x: hidden;
}

.main_header {
    width: 100%;
    height: 294px;
    background-image: url(../../img/icon/original.jpg);
    background-repeat: no-repeat;
    background-position-x: -250px;
    position: relative;
    text-align: right;
    animation: flag 8s steps(60, end);
}

.main_header_box {
    width: 400px;
    position: absolute;
    left: 845px;
    top: 50px;
}

.main_header_box>p:nth-child(1) {
    color: white;
    font-size: 35px;
}

.main_header_box>span {
    color: white;
    background-color: rgb(250, 244, 244, .3);
    height: 30px;
    padding: 7px;
    font-size: 12px;
    margin-left: 10px;
    border-radius: 5px;
}

.main_header_box>p:nth-child(5) {
    color: white;
    font-size: 18px;
    margin-top: 30px;
}

.main_header_box>button {
    width: 242px;
    height: 49px;
    color: white;
    background-color: rgb(254, 83, 65);
    border-radius: 5px;
    border: 0;
    font-size: 24px;
}


/* 动画效果 */


/* div {
    width: 160px;
    height: 225px;
    background: url(./springNn2.png) no-repeat;
    background-size: 9120px 225px;
    border: 1px solid #999;
    animation: flag 4s steps(57, end) infinite;
} */

@keyframes flag {
    0% {
        left: 100%;
    }
    25% {
        left: 75%;
    }
    50% {
        left: 50%;
    }
    75% {
        left: 25%;
    }
    100% {
        left: 0%;
    }
}